<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "EmployeesRestAPISuite">
<listeners>
	<listener class-name="com.employeeAPI.utilities.Listeners"/>
</listeners>
	<test thread-count="5" name="EmployeeRestAPITest">
		<classes>
			<class name ="com.employeeAPI.testCases.TC001_GET_ALL_Employees"/>
			<class name ="com.employeeAPI.testCases.TC002_GET_Single_Employee"/>
			<class name ="com.employeeAPI.testCases.TC003_POST_Employee_Record"/>
			<class name ="com.employeeAPI.testCases.TC004_PUT_Employee_Record"/>
			<class name ="com.employeeAPI.testCases.TC005_DEL_Employee_Record"/>
		</classes>
	</test>>
</suite>